Binaries
DerivedDataCache
Intermediate
Saved
Package
Packages
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
MegaScans
CitySampleVehicles
BlackAlder
MSPresets
FPS_Weapon_Bundle